<div class="relative md:h-[90vh]">
  <img
    src="/assets/images/header.jpeg"
    class="absolute inset-0 object-cover w-full h-full"
    alt=""
  />
  <div class="relative bg-black bg-opacity-50 md:h-[90vh]">
    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <div class="flex flex-col items-center justify-center xl:flex-row">
        <div
          class="w-full flex-[0.8] md:w-10/12 mb-12 xl:mb-0 xl:pr-16 xl:w-2/3"
        >
          <h2
            class="text-3xl xl:text-5xl lg:text-6xl tracking-tight font-extrabold text-white"
          >
            <span class="text-dzoma-yellow">
              Fashion that tells a story, from
            </span>
            <br class="hidden md:block" />
            <span> Africa to the world. </span>
          </h2>
          <p
            class="py-3 text-base text-white sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-2xl lg:mx-0"
          >
            Uncover the hidden beauty of Africa through our authentic and
            one-of-a-kind designs. Shop now and make a fashion statement that
            celebrates the rich culture of Africa.
          </p>
          <a
            href="#_"
            class="inline-flex overflow-hidden text-white bg-primary-color rounded group"
          >
            <span
              class="px-3.5 py-2 text-white bg-secondary-color group-hover:bg-yellow-700 flex items-center justify-center"
            >
              <svg
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                ></path>
              </svg>
            </span>
            <span class="pl-4 pr-5 py-2.5">Shop now</span>
          </a>
        </div>
        <div class="flex-[0.2]"></div>
      </div>
    </div>
  </div>
</div>
