<div class="relative md:h-[90vh]">
  <img
    src="/assets/images/header.jpeg"
    class="absolute inset-0 object-cover w-full h-full"
    alt=""
  />
  <div class="relative bg-black bg-opacity-50 md:h-[90vh]">
    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <div class="flex flex-col items-center justify-center xl:flex-row">
        <div
          class="w-full flex-[0.8] md:w-10/12 mb-12 xl:mb-0 xl:pr-16 xl:w-2/3"
        >
          <h2
            class="text-3xl md:text-5xl lg:text-6xl tracking-tight font-extrabold text-white"
          >
            <span class="block xl:inline text-dzoma-yellow">
              Fashion that tells a story, from
            </span>
            <span class="block xl:inline"> Africa to the world. </span>
          </h2>
          <p
            class="py-3 text-base text-white sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-2xl lg:mx-0"
          >
            Uncover the hidden beauty of Africa through our authentic and
            one-of-a-kind designs. Shop now and make a fashion statement that
            celebrates the rich culture of Africa.
          </p>
          <a
            href="/"
            aria-label=""
            class="text-secondary-color text-2xl inline-flex items-center font-semibold tracking-wider transition-colors duration-200 hover:text-teal-accent-700"
          >
            Shop Now
            <svg
              class="inline-block w-3 ml-2"
              fill="currentColor"
              viewBox="0 0 12 12"
            >
              <path
                d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"
              ></path>
            </svg>
          </a>
        </div>
        <div class="flex-[0.2]"></div>
      </div>
    </div>
  </div>
</div>
