input::-webkit-input-placeholder {
  color: #af7f05 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #af7f05 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #af7f05 !important;
}

input:-ms-input-placeholder {
  color: #af7f05 !important;
}
