<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div
    class="flex flex-col max-w-screen-lg overflow-hidden bg-white border border-secondary-color rounded shadow-sm lg:flex-row sm:mx-auto"
  >
    <div class="lg:relative lg:w-2/3">
      <img
        src="/assets/images/ads.jpg"
        alt=""
        class="object-cover w-full lg:absolute lg:h-full"
      />
      <svg
        class="absolute top-0 right-0 hidden h-full text-white lg:inline-block"
        viewBox="0 0 20 104"
        fill="currentColor"
      >
        <polygon
          points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"
        ></polygon>
      </svg>
    </div>
    <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10">
      <h5
        class="mb-3 text-2xl lg:w-full font-extrabold leading-none sm:text-4xl"
      >
        Africa's Vibrant Fashion Masterpieces
      </h5>
      <p class="mb-5 text-gray-800">
        Uncover the beauty of Africa through Kixara's authentic fashion designs,
        featuring traditional patterns and colors in a modern style.
      </p>
      <div class="flex items-center">
        <a
          href="/"
          aria-label=""
          class="text-nilètso-green inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800"
        >
          Shop Now
          <svg
            class="inline-block w-3 ml-2"
            fill="currentColor"
            viewBox="0 0 12 12"
          >
            <path
              d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
