<div class="admin-sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="" />
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/">Dashboard<i class="pi pi-home"></i></a>
      </li>
      <li>
        <a routerLink="/products">products<i class="pi pi-briefcase"></i></a>
      </li>
      <li>
        <a routerLink="/categories">categories<i class="pi pi-list"></i></a>
      </li>
      <li>
        <a routerLink="/orders">orders<i class="pi pi-shopping-cart"></i></a>
      </li>
      <li>
        <a routerLink="/users">users<i class="pi pi-users"></i></a>
      </li>
      <li>
        <a href="">logout<i class="pi pi-sign-out"></i></a>
      </li>
    </ul>
  </div>
</div>
