<div class="admin-sidebar">
  <div class="logo">
    <h1>Star Shop</h1>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard">Dashboard<i class="pi pi-home"></i></a>
      </li>
      <li>
        <a href="">products<i class="pi pi-briefcase"></i></a>
      </li>
      <li>
        <a routerLink="/categories">categories<i class="pi pi-list"></i></a>
      </li>
      <li>
        <a href="">orders<i class="pi pi-shopping-cart"></i></a>
      </li>
      <li>
        <a href="">users<i class="pi pi-users"></i></a>
      </li>
      <li>
        <a href="">logout<i class="pi pi-sign-out"></i></a>
      </li>
    </ul>
  </div>
</div>
